<!DOCTYPE html>
<html ng-app="xanrup-app">
<head>
<meta charset="utf-8">
<title>Xanrup</title>

<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="/css/common-style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</head>

<body>

	<div class="main-header">

		<div class="main-header1">
			<ul class="horizontal-list">
				<li class="h-list-item"><a href="#/home">Home</a></li>
				<li class="h-list-item"><a href="#">AboutUs</a></li>
				<li class="h-list-item"><a href="#">Services</a> <br>
					<ul class="verticle-list">
						<li class="v-list-item"><a href="#">OutSourcing</a></li>
						<li class="v-list-item"><a href="#">Web Development</a></li>
						<li class="v-list-item"><a href="#">Mobile Development</a></li>
					</ul></li>
				<li class="h-list-item"><a href="#">Technologies</a></li>
				<li class="h-list-item"><a href="#">News</a></li>

			</ul>


		</div>
	</div>

	<div ng-controller="MainCtrl">

		<img ng-show="loaded" bg-image class="fullBg {{currentAnimation}}"
			ng-repeat="slide in slides" ng-if="isCurrentSlideIndex($index)"
			ng-src="{{slide.src}}">

	</div>

	<script src="libs/jquery.min.js"></script>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
	<script src="libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
	<script src="https://code.angularjs.org/1.6.6/angular-route.js"></script>

	<script src="js/index-controller.js"></script>
	<script src="js/index-service.js"></script>

</body>
</html>
