<div>
	<img ng-show="loaded" id="banner-image" class="{{currentAnimation}}"
		ng-repeat="slide in slides" ng-if="isCurrentSlideIndex($index)"
		ng-src="{{slide.src}}">


</div>

<section class="hero-header">
	<div class="hero-title">We are Xanrup</div>
	<div class="hero-description">Imagination What It Takes. Let's Do
		It Together</div>
</section>

<article ng-show="currentIndex===0">
	<div class="fade-in-hero-desc">
		<h3>Good design is obvious. Great design is transparent</h3>
		<h4>&nbsp&nbsp - Joe Sparano</h4>
	</div>
</article>
<article ng-show="currentIndex===1">
	<div class="fade-in-hero-desc">
		<h3>The function of good software is to make the complex appear
			to be simple.</h3>
		<h4>&nbsp&nbsp - Grady Booch</h4>
	</div>
</article>

<article ng-show="currentIndex===2">
	<div class="fade-in-hero-desc">
		<h3>Get closer than ever to your customers. So close, in fact,
			that you tell them what they need well before they realize it
			themselves</h3>
		<h4>&nbsp&nbsp - Steve Jobs</h4>
	</div>
</article>


<section class="other">Put some lovely content here!</section>
<section class="other">Put some lovely content here!</section>
<section class="other">Put some lovely content here!</section>
<section class="other">Put some lovely content here!</section>
<section class="other">Put some lovely content here!</section>

