html {
  font-size: 10px
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.initialism {
  font-size: 90%
}


code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
  color: #c7254e;
  background-color: #f9f2f4
}

kbd {
  color: #fff;
  background-color: #333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none
}

pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  line-height: 1.5;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border-radius: 0
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " "
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  height:480px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  border-radius: 0
}

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px
}

.pre-scrollable {
  overflow-y: scroll
}

.container:after {
  clear: both
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 1000px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px
  }
}

.container-fluid:after {
  clear: both
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:after {
  clear: both
}

.col-md-12,.col-md-4,.col-md-8,.col-sm-12,.col-sm-4,.col-sm-8,.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-xs-12 {
  width: 100%
}


@media (min-width:768px) {
 .col-sm-12, .col-sm-4,.col-sm-8{
    float: left
  }
  
  .col-sm-4 {
    width: 33.33333%
  }
  
  .col-sm-8 {
    width: 66.66667%
  }
 
  .col-sm-12 {
    width: 100%
  }
}

@media (min-width:992px) {
  .col-md-12,.col-md-4, .col-md-8{
    float: left
  }

  .col-md-4 {
    width: 33.33333%
  }
  
  .col-md-8 {
    width: 66.66667%
  }
 
  .col-md-12 {
    width: 100%
  }}

.form-control, output {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  display: block
}

.form-control {
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}


.bluelayoutbackground {
  background:#006699;
  float: left;
  height:auto;
  width: 100%;
  padding: 5px 0px 10px;
}

.bluelayoutbackground .section-header{
  margin: 0 auto 7px;
}
.bluelayoutbackground .pagetitle {
  color: #fff;
  font-family: BentonSans;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 50px;
  margin-top: 20px;
  white-space: normal
}

.bluelayoutbackground .pagesubtitle {
  color: #8b9098;
  font-family: "Avenir Next LT Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: none
}


.clientcommentperson, .customformsubmitbtn {
  width: 100%;
  font-family: 'Avenir Next LT Pro';
  font-weight: 400;
  font-style: normal
}

.customformsubmitbtn {
  float: right;
  margin-top:25px;
  background-color: #1a3866!important;
  border:medium none;
  color: #ffffff!important;
  height: 45px;
  padding: 0;
  font-size: 16px;
  opacity: 1
}


.form-group input, .form-group textarea {
  /*background: rgba(255, 255, 255, .24);*/
  background: transparent;
  float: left
}
.form-group input:focus{
  border: 1px solid #ffffff !important;
}
.formfieldscover {
  float: left;
  width: 50%
}

.formfieldscover .hide-error-msg {
  float: left;
  width: 100%;
  color: #fff;
  margin-bottom: 10px
}


.formtextareafieldscover .hide-error-msg {
  float: left;
  width: 100%;
  color: #fff;
  margin-top: 10px
}

.form-group input {
  border: 1px solid #ffffff;
  color: #fff;
  margin: 10px 0 15px;
  padding: 0 10px;
  width: 98%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0
}

.form-group textarea {
  border: 1px solid #ffffff;
  color: #fff;
  padding: 10px;
  width: 100%;
  resize: none;
  /*height: 212px!important;*/
  height: 290px!important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0
}
.form-group textarea:focus{
  border: 1px solid #ffffff !important;
}

.hide-error-msg, .reqflagformobile {
  display: none
}

.captchacoverouter .sendmailvia .customformsubmitbtn {
  background-color: #fff;
  border: 1px solid #fff;
  color: #e74c3c;
  float: right;
  font-family: "Avenir Next LT Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 75px;
  margin-bottom: 0;
  opacity: 1;
  padding: 0;
  width: 100%
}

.captchacoverouter .hide-error-msg {
  font-family: Lato, sans-serif;
  font-weight: 400;
  float: left;
  width: 100%;
  color: #fff;
  margin-top: 0;
  font-size: 16px!important;
  line-height: 1.5
}
.formaddresspart div.headquartercover{
  margin-top: 50px;
}
.formaddresspart div.headquartercover:first-child{
  margin-top: 20px;
}


.headquartercover .addresstitle, .headquartercover .addressubtext, .headquartercover .addressubtext a {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'Avenir Next LT Pro';
  float: left;
  font-style: normal
}

.headquartercover {
  float: left;
  width: 100%;
  margin: 22px 0 0
}

.pull-right {
  float: right!important
}

.headquartercover .addresstitle {
  font-weight: 700;
  text-transform: capitalize
}

.blockquote-reverse, blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #f2f2f4;
  border-left: 0;
  text-align: right
}

.form-group input {
    border: 1px solid #ffffff;
    color: #fff;
    margin: 10px 0 15px;
    padding: 5px 15px;
    width: 98%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.form-group input, .form-group textarea {
    background: transparent;
    float: left;
}

.footer {
  flex-shrink: 0;
  padding: 20px;  
}
.footer-content{
  font-size: 14px;
  float: left;
  text-align: center;
  width: 100%;
  font-family: 'Avenir Next LT Pro';
  font-weight: 400;
  font-style: normal;
  color: #000;
  height:55px;
  line-height: 50px;
}

.contact-us{
	color:white;
}

