body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-size: 14px;
	font-family: "Times New Roman", Georgia, Serif;
}

.main-header {
	width: 100%;
	height: 60px;
	background-color: #1e91d6;
}

.main-header1 {
	width: 75%;
	float: left;
	height: 60px;
	background-color: #1e91d6;
}

ul.horizontal-list {
	height: 60px;
	width: 70%;
	float: right;
	background-color: #1e91d6;
	list-style-type: none;
}

ul.horizontal-list li.h-list-item {
	display: inline-block;
	margin: 10px 15px 10px 15px;
	padding: 10px;
}

ul.horizontal-list li.h-list-item a {
	text-decoration: none;
	color: white;
	font-size: 120%;
}

ul.horizontal-list li.h-list-item a:hover {
	border-bottom: 2px solid white;
	cursor: pointer;
	}

ul.horizontal-list li.h-list-item ul.verticle-list {
	margin: 0px;
	padding: 0px;
	position: absolute;
	min-width: 170px;
	z-index: 999;
	display: none;
	list-style-type: none;
	border: 1px solid #1e91d6;
	border-radius: 4px;
	background-color: #1e91d6;
	color: white;
}

ul.horizontal-list li.h-list-item:hover ul.verticle-list {
	display: block;
	color: black;
}

ul.verticle-list li.v-list-item {
	display: block;
	border-radius: 4px;
}

ul.verticle-list li.v-list-item a {
	display: block;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	font-size: 14px;
}

ul.verticle-list li.v-list-item a:hover {
	text-decoration: none;
	background-color: #1b82c0;
	border-bottom: none;
}

.home-content {
	background-color: yellow;
}