.other {
	margin: 100px auto auto 80px;
	height: 120px;
	width: 600px;
	text-align: left;
	padding: 10px;
	color: white;
	background-color: tomato;
	z-index: 200;
}

.main-s2 {
	margin: 160px auto auto auto;
	text-align: center;
	width: 850px;
	height: 360px;
	padding: 10px;
	color: black;
	background-color: none;
	z-index: 200;
	padding: 10px;
}

.main-s3 {
	margin: 30px auto auto auto;
	text-align: center;
	width: 850px;
	height: 360px;
	padding: 10px;
	color: black;
	background-color: none;
	z-index: 200;
	padding: 10px;
}

.main-s2 p {
	font-size: 28px;
	font-family: 'ProximaNovaLight' !important;
	line-height: 48px;
	color: #373e4a;
}

.main-s2 h2 {
	font-size: 48px;
	color: #373E4A;
}

.hero-header {
	margin: 100px auto auto 80px;
	height: 120px;
	width: 600px;
	text-align: left;
	padding: 10px;
	color: white;
	background-color: none;
	z-index: 200;
}

article {
	margin: 200px auto auto 80px;
	height: 200px;
	width: 700px;
	z-index: 200;
	line-height: 110%;
	position: static;
	font-family: 'latolight';
	font-size: 20px;
	padding: 0px;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 400;
}

.hero-title {
	position: static;
	font-family: 'latolight';
	font-size: 36px;
	padding: 15px auto auto 15px;
	margin-top: 10px;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 600;
}

.hero-description {
	position: static;
	font-family: 'latolight';
	font-size: 20px;
	padding: 0px;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 400;
}

#hero-image {
	width: 100%;
	height: 100%;
	margin-top: -100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	position: absolute;
	z-index: -1;
}

.fade-in {
	animation: fadeInHero 6s;
}

@keyframes fadeInHero {from { opacity:0;
	
}

to {
	opacity: 1;
}
}

.container
{
    height:2000px;    
}

.hideme
{
    opacity:0;
}
